.about{
    padding: 3% 4%;
}
.about .section1{
    background: url('../../assets//e_commerce_about_page.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
}
.about h2{
    font-weight: 800;
    text-align: center;
    margin: 2% 0;
}
.about p{
    line-height: 25px;
    margin: 2% 0;
}
@media screen and (max-width: 900px){
    .about{
        padding: 3% 4%;
    }
    .about p{
        line-height: 25px;
        margin: 2% 0;
    }
}
@media screen and (max-width:300px) {
    .about p{
        font-size: 13px;
        text-align: center;
    }
}