.about{
    padding: 3% 4%;
}
.about .section1{
    background: url('../../assets//e_commerce_about_page.jpg');
    height: 600px;
    background-position: center;
    background-size: cover;
    transition: all .3s;
    /* animation: fadein; */
    /* animation-duration: 1.5s;
    animation-fill-mode: forwards; */
}
@keyframes fadein {
    0%{
        transform: scale(0, 0);
    }
    100%{
        transform: scale(1, 1);
    }
}
.about .details{
    animation: detailsfadein;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: all .3s;
}
@keyframes detailsfadein {
    0%{
        transform: translate(-100px);
        visibility: visible;
    }
    100%{
        transform: translate(0);
        visibility: visible;
    }
}
.about .details h2{
    font-weight: 800;
    text-align: center;
    margin: 2% 0;
}
.about .details p{
    line-height: 25px;
    margin: 2% 0;
}
@media screen and (max-width: 900px){
    .about{
        padding: 3% 4%;
    }
    .about .details p{
        line-height: 25px;
        margin: 2% 0;
    }
}
@media screen and (max-width:300px) {
    .about .details p{
        font-size: 13px;
        text-align: center;
    }
}