.products-container{
    padding: 4%;
}
/* loading styling */
.products-loading h1{
    margin: 0 auto;
    width: fit-content;
}
.products-loading .loading-btns{
    padding: 3% 0;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2%;
}
.products-loading .loading-btns button{
    margin: 0 10px;
    border-radius: 8px;
    border: none;
}
.products-loading .product-loading{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.products-loading .product-loading .loading{
    width: 280px;
}

/* loading styling */
.products-container .error{
    color: red;
    font-weight: 800;
    text-align: center;
    padding: 0;
    border-bottom: none;
}
.product-container h1{
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px lightgray solid;
}
.product-container .filter-buttons{
    padding: 3% 0;
    width: fit-content;
    margin: 0 auto;
}
.product-container .filter-buttons button{
    margin: 0 10px;
    font-weight: 700;
}
.product-container .filter-buttons button span:last-child{
    font-size: 20px;
    font-weight: 900;
    display: none;
}

.product-container .main_products-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    gap: 30px;
}
.product-container .main_products-container .main-product{
    border: solid 1.5px lightgray;
    border-radius: 8px;
    transition: all .3s;
    padding: 3% 3% 6% 3%;
    cursor: pointer;
    text-align: center;
    animation: scalein;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes scalein{
    0%{
        transform: scale(0, 0);
    }
    100%{
        transform: scale(1, 1);
    }
}
.product-container .main_products-container .main-product .products-img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
.product-container .main_products-container .main-product .products-img img{
    width: 100%;
    height: 100%;
    transition: all .3s;
    background-color: transparent;
}
.product-container .main_products-container .main-product:hover .products-img img{
    transform: scale(1.05, 1.05);
}
.product-container .main_products-container .main-product .details .products-title{
    margin: 4% 0;
}
.product-container .main_products-container .main-product .details .products-price{
    font-weight: 700;
}
@media screen and (max-width:1100px) {
    /* loading styling */
    .products-loading .product-loading{
        grid-template-columns: auto auto auto;
    }
    /* loading styling */
    .product-container .main_products-container{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:980px) {
    /* loading styling */
    .products-loading .product-loading{
        grid-template-columns: auto auto;
    }
    .products-loading .loading-btns{
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .products-loading .loading-btns button{
        width: fit-content;
        margin: 5px 1%;
    }
    .products-loading .product-loading .loading{
        width: 320px;
    }
    /* loading styling */

    .product-container .main_products-container{
        grid-template-columns: auto auto;
    }
    .product-container .filter-buttons{
        height: fit-content;
        text-align: center;
        width: 100%;
    }
    .product-container .filter-buttons button{
        font-size: 14px;
        margin: 5px 2%;

    }
}
@media screen and (max-width:700px) {
    .products-loading .product-loading{
        display: flex;
        flex-direction: column;
    }
    .products-loading .product-loading .loading{
        width: 100%;
    }
    .product-container .main_products-container{
        display: flex;
        flex-direction: column;
    }
    .products-loading .loading-btns{
        display: none;
    }
    .product-container .filter-buttons button{
       padding: 5px 8px;
    }
    .product-container .filter-buttons button span:first-child{
        display: none;
    }
    .product-container .filter-buttons button span:last-child{
        display: block;
    }
}
@media screen and (max-width:400px) {
    .products-loading .loading-btns{
        width: 75%;
    }
    .product-container .filter-buttons{
        width: 75%;
    }
}