.viewproduct-container{
    padding: 4%;
}

/* loading styling */
.viewproducts-loading{
    display: flex;
    justify-content: space-between;
}
.viewproducts-loading .img{
    width: 45%;
}
.viewproducts-loading .details{
    line-height: 30px;
    width: 45%;
}
.viewproducts-loading .details .btns{
    margin-top: 3%;
}
.viewproducts-loading .details .btns button{
    border: none;
}
.viewproducts-loading .details .btns button:last-child{
    margin-left: 2%;
}

/* loading styling */

.main-viewproduct{
    display: flex;
    justify-content: space-between;
}
.main-viewproduct .product-img{
    width: 45%;
    height: 450px;
    align-self: center;
}
.main-viewproduct .product-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.main-viewproduct .details{
    width: 45%;
    align-self: center;
    transition: all .3s;
}
    .main-viewproduct .details .category{
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 700;
    font-size: 25px
}
.main-viewproduct .details .title{
    font-weight: 100;
    font-style: italic;
    text-shadow: 2px 2px 3px;
}
.main-viewproduct .details .rating{
    font-size: 20px;
    font-weight: 900;
}
.main-viewproduct .details .price{
    font-weight: 900;
    font-size: xx-large;
    padding: 1% 0;
}
.main-viewproduct .details .desc{
    margin-top: 2%;
    line-height: 24px;
    opacity: 0.9;
}
@media screen and (max-width:850px) {
    /* loading styling */
    .viewproducts-loading{
        flex-direction: column;
    }
    .viewproducts-loading .img{
        width: 100%;
    }
    .viewproducts-loading .details{
        width: 100%;
    }
    .viewproducts-loading .details .btns{
        text-align: center;
    }
    /* loading styling */
    .main-viewproduct{
        flex-direction: column;
        /* border: solid; */
    }
    .main-viewproduct .product-img{
        width: 100%;
    }
    .main-viewproduct .details{
        width: 100%;
        padding: 3%;
        margin-top: 5%;
    }
    .main-viewproduct .details .btns{
        text-align: center;
    }
    
}