.contact-container{
    padding: 2% 4%;
    animation: scalein;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: center;
    justify-content: center;
}
@keyframes scalein {
    0%{
      transform: scale(0.6, 0.6);
    }
    100%{
      transform: scale(1, 1);
    }
}
.contact-container h1{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin: 3% 0;
}
.contact-container h2{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.contact-form{
    padding: 3% 4%;
    width: 70%;
    margin: 3% auto;
    background-color: rgb(248, 248, 248);
    border: solid 1px;
    border-radius: 5px;
}
.contact-form input{
    display: block;
    margin: 3% 0;
    width: 100%;
    padding: 3% 2%;
    border: solid 1.5px lightgray;
    border-radius: 7px;
    transition: all .4s;
}
.contact-form textarea{
    width: 100%;
    padding: 3% 2%;
    border: solid 1.5px lightgray;
    border-radius: 7px;
    transition: all .4s;
    margin-bottom: 3%;
    resize: none;
}
.contact-form input:focus, .contact-form textarea:focus{
    transition: all .4s;
    outline: none;
}

.contact-form button{
    margin: 0 auto;
    display: block;
  }
  .contact-form p{
    color: rgb(100, 195, 100);
    font-weight: 600;
    font-size: 15px;
  }
  /* .contact-form p:first-child{
    color: red;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
  } */
  .contact-container .contact-information h2{
    margin: 3% 0;
  }
  .contact-container .contact-information ol li{
    margin: 2% 0;
  }
  .contact-container .contact-information ol li span{
    font-weight: 800;
  }

@media screen and (max-width:1400px) {
  .contact-container{
    padding-bottom: 18%;
  }
}  

@media screen and (max-width:990px) {
  .contact-form{
    margin: 8% auto;
  }
  .contact-container .contact-information{
    margin: 4% 0;
  }
}
  @media screen and (max-width:800px) {
    .contact-form{
      width: 100%;
    }
  }
  @media screen and (max-width:300px) {
    .contact-container .contact-information{
      font-size: 10px;
    }
  }



  /* Message Loading styles */
@keyframes ldio-zlxdtiiq8cb {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-zlxdtiiq8cb div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-zlxdtiiq8cb div {
  animation: ldio-zlxdtiiq8cb 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-vc8zers97pd {
  width: 41px;
  height: 41px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zlxdtiiq8cb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.41);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-zlxdtiiq8cb div { box-sizing: content-box; }

.darkmode-contact-form{
    border: solid 1px #FFF;
    background: #000000;
}