.contact-container{
    padding: 2% 4%;
    animation: scalein;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}
@keyframes scalein {
    0%{
      transform: scale(0.6, 0.6);
    }
    100%{
      transform: scale(1, 1);
    }
}
.contact-container h1{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin: 3% 0;
}
.contact-container h2{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.contact-form{
    padding: 3% 4%;
    width: 70%;
    margin: 3% auto;
    background-color: rgb(248, 248, 248);
}
.contact-form input{
    display: block;
    margin: 3% 0;
    width: 100%;
    padding: 3% 2%;
    border: solid 1.5px lightgray;
    border-radius: 7px;
    transition: all .4s;
}
.contact-form textarea{
    width: 100%;
    padding: 3% 2%;
    border: solid 1.5px lightgray;
    border-radius: 7px;
    transition: all .4s;
    margin-bottom: 3%;
    resize: none;
}
.contact-form input:focus, .contact-form textarea:focus{
    transition: all .4s;
    outline: none;
}

.contact-form button{
    margin: 0 auto;
    display: block;
  }
  .contact-form p{
    color: rgb(100, 195, 100);
    font-weight: 700;
  }
  .contact-container .contact-information h2{
    margin: 3% 0;
  }
  .contact-container .contact-information ol li{
    margin: 2% 0;
  }
  .contact-container .contact-information ol li span{
    font-weight: 800;
  }

@media screen and (max-width:1400px) {
  .contact-container{
    padding-bottom: 18%;
  }
}  

@media screen and (max-width:990px) {
  .contact-form{
    margin: 8% auto;
  }
  .contact-container .contact-information{
    margin: 4% 0;
  }
}
  @media screen and (max-width:800px) {
    .contact-form{
      width: 100%;
    }
  }
  @media screen and (max-width:300px) {
    .contact-container .contact-information{
      font-size: 10px;
    }
  }