.homepage .section1{
    background: url('../../assets/shopping-carts-facing-each-other.jpg');
    background-position: center;
    background-size: cover;
    padding: 20% 4%;
}
.homepage .section1 h1{
    font-size: 55px;
    font-weight: 900;
}
.homepage .section1 h4{
    font-size: 35px;
    font-weight: 700;
    margin: 1% 0;
}
@media screen and (max-width:800px) {
    .homepage .section1{
        padding: 30% 4%;
    }
    .homepage .section1 h1{
        font-size: 31px;
        font-weight: 900;
        margin: 3% 0;
        text-align: center;
    }
    .homepage .section1 h4{
        font-size: 22px;
        margin: 6% 0 0 0;
        text-align: center;
    }
}