.cart{
    padding: 4% 6%;
    animation: fadein;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: all .3s;
}
@keyframes fadein {
    0%{
        transform: scale(0.6, 0.6);
    }
    100%{
        transform: scale(1, 1);
    }
}
.empty-cart{
    text-align: center;
    padding: 18% 0;
}
.empty-cart h1{
    margin: 2% 0;
    font-weight: 800;
}
.cart-items .item{
    margin: 2% 0;
    border-bottom: solid 2px gray;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-items .item .img-details{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.cart-items .item .img-details .item-img{
    width: 200px;
    height: 170px;
    border: solid 1px lightgray;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    position: relative;
}
.cart-items .item .img-details .item-img .remove{
    position: absolute;
    border: solid 1px gray;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 56, 56, 0.3);
    border-radius: 8px;
    transition: all .3s;
    display: none;
}
.cart-items .item .img-details .item-img .remove i{
    margin: 37% 40%;
    font-size: 25px;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    background-color: white;
}
.cart-items .item .img-details .item-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.cart-items .item .img-details .item-img:hover .remove{
    display: block;
}
.cart-items .item .img-details .details{
    width: 50%;
    margin-left: 30%;
}
.cart-items .item .img-details .details h2{
    font-size: 16px;
    font-weight: 800;
}
.cart-items .item .img-details .details p{
    font-size: 13px;
    font-weight: 700;
    opacity: 0.8;
}
.cart-items .item .img-details .details .qty{
    background-color: black;
    width: fit-content;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
}
.cart-items .item .img-details .details .qty span{
    padding: 8px 16px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    border: none;
}
.cart-items .item .img-details .details .qty span:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cart-items .item .img-details .details .qty span:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.cart-items .item .img-details .details .qty span:first-child:hover, .cart-items .item .details .qty span:last-child:hover{
    background-color: gray;
}
.cart-items .item .total-price{
    width: 20%;
    text-align: end;
}
.cart-items .item .total-price p{
    font-size: 20px;
    font-weight: 800;
}
.cart-items .checkout{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
}
.cart-items .checkout .btn button{
    padding: 15px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: none;
    transition: all .3s;
}
.cart-items .checkout .btn button:hover{
    transform: translateY(-5px);
}
.cart-items .checkout .details{
    width: max-content;
}
.cart-items .checkout .details p:last-child span{
    display: inline-block;
    width: 140px;
    text-align: end;
    font-weight: 800;
}
.is-visible{
    background-color: black;
}
@media screen and (max-width:1100px) {
    .cart-items .item .img-details .item-img .remove i{
        margin: 42% 40%;
    }
}
@media screen and (max-width:850px) {
    .empty-cart{
        margin: 30% 0;
    }
    .empty-cart h1{
        margin: 4% 0;
        text-align: center;
        width: 100%;
    }
    .cart-items .item .img-details{
        flex-direction: column;
    }
    .cart-items .item .img-details .details{
        margin: 10% 0 0 0;
        width: 100%;
    }
    .cart-items .item .img-details .item-img .remove{
        display: block;
    }
    .cart-items .checkout{
        flex-direction: column-reverse;
    }
    .cart-items .checkout .btn button{
        width: 100%;
    }
    .cart-items .item .img-details .item-img .remove i{
        margin: 34% 42%;
    }
}