.checkout_page{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../assets/shopping-carts-facing-each-other.jpg');
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 8% 0;
}
.checkout_page form{
    width: 50%;
    margin: auto;
    border: solid;
    background-color: white;
    padding: 4% 3%;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 5px 20px rgb(67, 67, 67);
}
.checkout_page form h3{
    font-size: 35px;
    font-weight: 600;
}
.checkout_page form input{
    margin: 3% 0;
    display: block;
    padding: 2% 5%;
    background-color: rgb(146, 144, 144);
    color: black;
    border: none;
    border-radius: 8px;
    width: 100%;
}
.checkout_page form input:focus{
    outline: none;
}
.checkout_page form input::placeholder{
    color: white;
    font-size: 15px;
}
.checkout_page form.status{
    font-size: 16px;
    font-weight: 700;
}
.checkout_page form button{
    border: none;
    padding: 10px 15px;
    background-color: rgb(146, 144, 144);
    color: white;
    border-radius: 5px;
    transition: all .3s;
    margin: 4% 0;
}
.checkout_page form button:hover{
    box-shadow: 0 3px 10px rgb(146, 144, 144);
}

@media only screen and (min-width:850px) and (max-width:950px) {
    .checkout_page{
        height: 100dvh;
        width: 100%;
        padding: 15% 0;
    }
    .checkout_page form{
        width: 60%;
    }
}
@media screen and (max-width:820px) {
    .checkout_page{
        padding: 40% 0;
    }
    .checkout_page form{
        width: 90%;
        padding: 4% 4%;
    }
    .checkout_page form h3{
        font-size: 30px;
        margin: 2% 0;
    }
    .checkout_page form input{
        margin: 4% 0;
        padding: 3% 5%;
    }
}