.navbar{
    padding-left: 4%;
    padding-right: 4%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
.navbar a{
    font-size: 17px;
}
.navbar .container-fluid .navbar-brand{
    font-weight: 800;
}
.navbar-toggler{
    position: relative;
}
.show-cart{
    position: absolute;
    border: none;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-weight: 800;
    top: 0;
}
.navbar .container-fluid .collapse .buttons ul li{
    margin-left: 15px;
}
.navbar .container-fluid .collapse ul li a:focus{
    color: black;
}
.cart-li{
    position: relative;
    border: none;
}
.cart-li span{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 10px;
    font-weight: 900;
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    padding-bottom: 5px;
}

@media screen and (max-width:991px) {
    .navbar .container-fluid .collapse .buttons ul li{
        margin: 0;
        margin-top: 15px;
    }
}