.navbar{
    padding-left: 4%;
    padding-right: 4%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
.navbar a{
    font-size: 17px;
}
.navbar .container-fluid .navbar-brand{
    font-weight: 800;
}
.navbar-toggler{
    position: relative;
}
.navbar-nav .nav-item{
    transition: all .3s;
}
.navbar-nav .nav-item:hover{
    transform: translateY(-5px);
}
.show-cart{
    position: absolute;
    border: none;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-weight: 800;
    top: -8px;
}
.navbar .container-fluid .collapse .buttons ul li{
    margin-left: 15px;
}
.navbar .container-fluid .collapse ul li a:focus{
    color: black;
}
.cart-li{
    position: relative;
    border: none;
}
.cart-li span{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 10px;
    font-weight: 900;
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    padding-bottom: 5px;
}

@media screen and (max-width:991px) {
    .navbar .container-fluid .collapse .buttons ul li{
        margin: 0;
        margin-top: 15px;
    }
}

.navbar-darkmode{
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 1.5px lightgray;
}

.navbar-darkmode a{
    color: #FFF;
}