@import url('https://fonts.googleapis.com/css2?family=Inter&family=Secular+One&display=swap');

.wrap-error{
  background-color: whitesmoke;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error_404{
  padding: 0;
}
.error_404 h1{
    font-family: 'Secular One', sans-serif;
    font-size: 200px;
    text-align: center;
    font-weight: 700;
    margin-top: 2%;
}
.error_404 h3{
    text-align: center;
    font-weight: 700;
}
.error_404 p{
    text-align: center;
    width: 50%;
    margin: 2% auto;
}
.error_404 a{
    color: white;
    padding: 1% 2%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 2% 0;
    outline: none;
    border-radius: 6px;
    z-index: 0;
    background-color: black;
    opacity: 0.9;
    overflow: hidden;
    border: none;
    width: fit-content;
    text-decoration: none;
    margin: 0 auto;
  }
  .error_404 a:hover {
    color: white;
  }
  .error_404 a:hover:after {
    width: 100%;
  }
  .error_404 a:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgb(100, 195, 100);
  }
  @media screen and (max-width:700px) {
    .error_404{
      width: fit-content;
    }
    .error_404 h1{
      font-size: 100px;
    }
    .error_404 p{
      width: 100%;
      margin: 3% 0;
    }
  }